@import "tailwindcss";

@plugin '@tailwindcss/container-queries';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --breakpoint-xs: 475px;

  --height-screen-95: 95svh;

  --min-height-screen: 100svh;

  --font-sans:
    "Source Sans 3 Variable", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif:
    "Source Serif 4 Variable", ui-serif, Georgia, Cambria, "Times New Roman",
    Times, serif;
  --font-mono:
    "Source Code Pro Variable", ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, "Liberation Mono", "Courier New", monospace;
}

@layer base {
  .prose {
    @apply text-pretty;
  }

  .prose img {
    @apply rounded-md border-neutral-200 shadow-sm dark:border-neutral-800 dark:shadow-none;
  }

  .prose *:not(pre) code {
    @apply rounded-md bg-neutral-200 px-1 py-0.5 before:content-none! after:content-none! dark:bg-neutral-700;
  }

  .prose kbd:has(kbd) {
    @apply p-0! shadow-none!;
  }

  .prose a[target="_blank"]::after {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='black'%3E%3Cpath d='M6.22 8.72a.75.75 0 0 0 1.06 1.06l5.22-5.22v1.69a.75.75 0 0 0 1.5 0v-3.5a.75.75 0 0 0-.75-.75h-3.5a.75.75 0 0 0 0 1.5h1.69L6.22 8.72Z' /%3E%3Cpath d='M3.5 6.75c0-.69.56-1.25 1.25-1.25H7A.75.75 0 0 0 7 4H4.75A2.75 2.75 0 0 0 2 6.75v4.5A2.75 2.75 0 0 0 4.75 14h4.5A2.75 2.75 0 0 0 12 11.25V9a.75.75 0 0 0-1.5 0v2.25c0 .69-.56 1.25-1.25 1.25h-4.5c-.69 0-1.25-.56-1.25-1.25v-4.5Z' /%3E%3C/svg%3E");
    @apply ml-1 inline-block h-3 w-3 bg-contain bg-center bg-no-repeat;
  }

  html[data-theme="dark"] .prose a[target="_blank"]::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3E%3Cpath d='M6.22 8.72a.75.75 0 0 0 1.06 1.06l5.22-5.22v1.69a.75.75 0 0 0 1.5 0v-3.5a.75.75 0 0 0-.75-.75h-3.5a.75.75 0 0 0 0 1.5h1.69L6.22 8.72Z' /%3E%3Cpath d='M3.5 6.75c0-.69.56-1.25 1.25-1.25H7A.75.75 0 0 0 7 4H4.75A2.75 2.75 0 0 0 2 6.75v4.5A2.75 2.75 0 0 0 4.75 14h4.5A2.75 2.75 0 0 0 12 11.25V9a.75.75 0 0 0-1.5 0v2.25c0 .69-.56 1.25-1.25 1.25h-4.5c-.69 0-1.25-.56-1.25-1.25v-4.5Z' /%3E%3C/svg%3E");
  }

  .prose sup a {
    @apply no-underline;
  }

  .footnotes {
    @apply mt-16 border-t border-neutral-200 dark:border-neutral-800;

    li {
      @apply text-sm md:text-base;

      a.data-footnote-backref:not(:first-of-type) {
        @apply hidden;
      }
    }
  }

  html[data-theme="dark"] .astro-code,
  html[data-theme="dark"] .astro-code span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }

  html[data-font="serif"] #content {
    font-size: 1.1rem;
    @apply font-serif;
  }
}
