@import "tailwindcss";

@plugin "@tailwindcss/container-queries";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@custom-variant hocus (&:hover, &:focus);
@custom-variant reduce-transparency (@media (prefers-reduced-transparency: reduce));

@theme {
  --breakpoint-xs: 475px;

  --height-screen-95: 95svh;
  --max-width-table-of-contents: calc((100svw - 48rem) / 2);

  --min-height-screen: 100svh;
}

@theme inline {
  --font-sans:
    var(--font-source-sans-3), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif:
    var(--font-source-serif-4), ui-serif, Georgia, Cambria, "Times New Roman",
    Times, serif;
  --font-mono:
    var(--font-source-code-pro), ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, "Liberation Mono", "Courier New", monospace;
}

@layer base {
  :root {
    interpolate-size: allow-keywords;

    --details-animation-duration: 0.5s;
  }

  @media (prefers-reduced-motion: reduce) {
    :root {
      --details-animation-duration: 0s;
    }
  }

  html {
    @apply not-motion-reduce:scroll-smooth;

    &[data-theme="dark"] {
      color-scheme: dark;
    }

    &[data-theme="light"] {
      color-scheme: light;
    }
  }

  details {
    overflow: hidden;

    &::details-content {
      block-size: 0;
      transition:
        block-size var(--details-animation-duration),
        content-visibility var(--details-animation-duration);
      transition-behavior: allow-discrete;
    }

    &:open {
      &::details-content {
        block-size: auto;
      }
    }
  }

  address {
    @apply not-italic;
  }
}
