---
import type { MarkdownInstance } from "astro";
import BaseLayout from "../layouts/BaseLayout.astro";
let posts: Array<MarkdownInstance<Record<string, any>>> = []
try {
 posts = await Astro.glob("../pages/post/*.md");
} catch (error) {
  console.error('No posts found');
}
---

<BaseLayout title="Blog">
  <h1>Blog</h1>

  <ul>
    {
      posts.map((post) => (
        <li>
          <a href={post.url}>{post.frontmatter.title}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
