---
import type { CollectionEntry } from "astro:content";
import { getCollection, render } from "astro:content";
import Article from "../components/Article.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

let posts: Array<
  CollectionEntry<"posts"> & {
    readingTime: string;
  }
> = [];
try {
  posts = await getCollection("posts");
  posts.sort(
    (a, b) =>
      new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime(),
  );

  await Promise.all(
    posts.map(async (post) => {
      const { remarkPluginFrontmatter } = await render(post);
      post.readingTime = remarkPluginFrontmatter.minutesRead;
    }),
  );
} catch (error) {
  console.error("No posts found");
}
---

<BaseLayout
  title="Blog"
  description="Here you can find all my articles. I write about interesting stuff I came across while working on projects or just for fun as well as small tutorials and guides. I hope you enjoy reading them as much as I enjoyed writing and researching them."
>
  <div class="mx-auto max-w-3xl p-4">
    <h2
      class="3xl:text-4xl pb-4 text-center text-3xl font-bold text-neutral-900 dark:text-neutral-200"
    >
      My articles
    </h2>

    <p class="mb-8 dark:text-neutral-300">
      Here you can find all my articles. I write about interesting stuff I came
      across while working on projects or just for fun as well as small
      tutorials and guides. I hope you enjoy reading them as much as I enjoyed
      writing and researching them.
    </p>

    <section class="flex flex-col gap-4">
      {posts.map((post) => <Article post={post} />)}
    </section>
  </div>
</BaseLayout>
