---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import { version } from "../../package.json";
import iconCroco from "../icons/icon-croco.svg";

const year = new Date().getFullYear();
---

<footer
  aria-label="Footer"
  class="bg-neutral-100 contrast-more:bg-white dark:bg-neutral-900 contrast-more:dark:bg-black print:bg-white print:text-black"
  transition:name="footer"
  transition:persist
>
  <div class="mx-auto max-w-screen-xl px-4 pt-16 pb-8 sm:px-6 lg:px-8">
    <div
      class="border-t border-neutral-200 pt-8 contrast-more:border-black sm:flex sm:items-center sm:justify-between dark:border-neutral-800 contrast-more:dark:border-white"
    >
      <nav aria-label="Footer Navigation" class="print:hidden">
        <ul class="flex flex-wrap justify-center gap-4 text-sm lg:justify-end">
          <li>
            <a
              href="https://pawcode.de/impressum#impressum?mtm_campaign=Blog&mtm_source=pawcode"
              class="hocus:opacity-75 text-neutral-600 transition not-contrast-more:hover:opacity-75 motion-reduce:duration-0 contrast-more:text-black contrast-more:hover:underline dark:text-neutral-300 contrast-more:dark:text-white"
            >
              Imprint
            </a>
          </li>

          <li>
            <a
              href="https://pawcode.de/impressum#datenschutz?mtm_campaign=Blog&mtm_source=pawcode"
              class="hocus:opacity-75 text-neutral-600 transition not-contrast-more:hover:opacity-75 motion-reduce:duration-0 contrast-more:text-black contrast-more:hover:underline dark:text-neutral-300 contrast-more:dark:text-white"
            >
              Privacy
            </a>
          </li>
        </ul>
      </nav>

      <a
        class="block cursor-default text-center text-sm text-neutral-600 contrast-more:text-black max-sm:mt-8 dark:text-neutral-300 contrast-more:dark:text-white print:w-full print:text-gray-800"
        href="https://pawcode.de?mtm_campaign=Blog&mtm_source=pawcode"
      >
        Version {version} - &copy; {year} pawcode Development
      </a>

      <ul
        class="mt-8 flex justify-center gap-4 sm:mt-0 lg:justify-end print:hidden"
      >
        <li>
          <a
            href="/rss.xml"
            rel="noreferrer"
            target="_blank"
            class="hocus:opacity-75 text-neutral-700 transition not-contrast-more:hover:opacity-75 motion-reduce:duration-0 contrast-more:text-black dark:invert"
            title="RSS feed"
          >
            <span class="sr-only">RSS feed</span>

            <Icon name="heroicons:rss-20-solid" size={20} />
          </a>
        </li>

        <li>
          <a
            href="https://github.com/pawcoding"
            rel="noreferrer"
            target="_blank"
            class="hocus:opacity-75 text-neutral-700 transition not-contrast-more:hover:opacity-75 motion-reduce:duration-0 contrast-more:text-black dark:invert"
            title="GitHub"
          >
            <span class="sr-only">GitHub</span>

            <Icon name="simple-icons:github" size={20} />
          </a>
        </li>

        <li>
          <a
            href="https://business-card.io/c/f6658706-c0bb-4352-9432-aebf7566da7c/"
            rel="noreferrer"
            target="_blank"
            class="hocus:opacity-75 text-neutral-700 transition not-contrast-more:hover:opacity-75 motion-reduce:duration-0 contrast-more:contrast-200 dark:invert"
            title="Business Card"
          >
            <span class="sr-only">Business Card</span>

            <Image
              src={iconCroco}
              alt="Business Card"
              width="20"
              height="20"
              loading="lazy"
              decoding="async"
            />
          </a>
        </li>

        <li>
          <a
            href="https://www.linkedin.com/in/luis-wolf-0a8a261b2/"
            rel="noreferrer"
            target="_blank"
            class="hocus:opacity-75 text-neutral-700 transition not-contrast-more:hover:opacity-75 motion-reduce:duration-0 contrast-more:text-black dark:invert"
            title="LinkedIn"
          >
            <span class="sr-only">LinkedIn</span>

            <Icon name="simple-icons:linkedin" size={20} />
          </a>
        </li>

        <li>
          <a
            href="https://www.instagram.com/paw.coding/"
            rel="noreferrer"
            target="_blank"
            class="hocus:opacity-75 text-neutral-700 transition not-contrast-more:hover:opacity-75 motion-reduce:duration-0 contrast-more:text-black dark:invert"
            title="Instagram"
          >
            <span class="sr-only">Instagram</span>

            <Icon name="simple-icons:instagram" size={20} />
          </a>
        </li>

        <li>
          <a
            href="https://www.youtube.com/channel/UCMR0jp9jjK4ehhMNkVDGGRA"
            rel="noreferrer"
            target="_blank"
            class="hocus:opacity-75 text-neutral-700 transition not-contrast-more:hover:opacity-75 motion-reduce:duration-0 contrast-more:text-black dark:invert"
            title="YouTube"
          >
            <span class="sr-only">YouTube</span>

            <Icon name="simple-icons:youtube" size={20} />
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
