---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import { version } from "../../package.json";
import snapaddy from "../icons/snapADDY.webp";

const year = new Date().getFullYear();
---

<footer
  aria-label="Footer"
  class="bg-neutral-100 dark:bg-neutral-900"
  transition:persist="footer"
>
  <div class="mx-auto max-w-screen-xl px-4 pb-8 pt-16 sm:px-6 lg:px-8">
    <div
      class="border-t border-neutral-200 pt-8 sm:flex sm:items-center sm:justify-between dark:border-neutral-800"
    >
      <nav aria-label="Footer Navigation">
        <ul class="flex flex-wrap justify-center gap-4 text-xs lg:justify-end">
          <li>
            <a
              href="https://pawcode.de/impressum#impressum?mtm_campaign=Blog&mtm_source=pawcode"
              class="text-neutral-600 transition hover:opacity-75 dark:text-neutral-300"
            >
              Imprint
            </a>
          </li>

          <li>
            <a
              href="https://pawcode.de/impressum#datenschutz?mtm_campaign=Blog&mtm_source=pawcode"
              class="text-neutral-600 transition hover:opacity-75 dark:text-neutral-300"
            >
              Privacy
            </a>
          </li>
        </ul>
      </nav>

      <span
        class="block cursor-default text-center text-xs text-neutral-600 max-sm:mt-8 dark:text-neutral-300"
      >
        <a href="https://pawcode.de?mtm_campaign=Blog&mtm_source=pawcode">
          Version {version} - &copy; {year} pawcode Development
        </a>
      </span>

      <ul class="mt-8 flex justify-center gap-4 sm:mt-0 lg:justify-end">
        <li>
          <a
            href="/rss.xml"
            rel="noreferrer"
            target="_blank"
            class="text-neutral-700 transition hover:opacity-75 dark:invert"
            title="RSS feed"
          >
            <span class="sr-only">RSS feed</span>

            <Icon name="heroicons:rss-20-solid" size={20} />
          </a>
        </li>

        <li>
          <a
            href="https://www.instagram.com/paw.coding/"
            rel="noreferrer"
            target="_blank"
            class="text-neutral-700 transition hover:opacity-75 dark:invert"
            title="Instagram"
          >
            <span class="sr-only">Instagram</span>

            <Icon name="simple-icons:instagram" size={20} />
          </a>
        </li>

        <li>
          <a
            href="https://twitter.com/pawcode"
            rel="noreferrer"
            target="_blank"
            class="text-neutral-700 transition hover:opacity-75 dark:invert"
            title="X"
          >
            <span class="sr-only">X</span>

            <Icon name="simple-icons:x" size={20} />
          </a>
        </li>

        <li>
          <a
            href="https://github.com/pawcoding"
            rel="noreferrer"
            target="_blank"
            class="text-neutral-700 transition hover:opacity-75 dark:invert"
            title="GitHub"
          >
            <span class="sr-only">GitHub</span>

            <Icon name="simple-icons:github" size={20} />
          </a>
        </li>

        <li>
          <a
            href="https://www.linkedin.com/in/luis-wolf-0a8a261b2/"
            rel="noreferrer"
            target="_blank"
            class="text-neutral-700 transition hover:opacity-75 dark:invert"
            title="LinkedIn"
          >
            <span class="sr-only">LinkedIn</span>

            <Icon name="simple-icons:linkedin" size={20} />
          </a>
        </li>

        <li>
          <a
            href="https://business-card.io/c/f6658706-c0bb-4352-9432-aebf7566da7c/"
            rel="noreferrer"
            target="_blank"
            class="text-neutral-700 transition hover:opacity-75 dark:invert"
            title="Business Card"
          >
            <span class="sr-only">Business Card</span>

            <Image
              src={snapaddy}
              alt="Business Card"
              width="20"
              height="20"
              loading="lazy"
              decoding="async"
            />
          </a>
        </li>

        <li>
          <a
            href="https://www.youtube.com/channel/UCMR0jp9jjK4ehhMNkVDGGRA"
            rel="noreferrer"
            target="_blank"
            class="text-neutral-700 transition hover:opacity-75 dark:invert"
            title="YouTube"
          >
            <span class="sr-only">YouTube</span>

            <Icon name="simple-icons:youtube" size={20} />
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
