---
import { Image } from "astro:assets";
import pawcodeDark from "../assets/pawcode-dark.svg";
import pawcodeLight from "../assets/pawcode-light.svg";
import Navigation from "./Navigation.astro";
import ThemeToggle from "./ThemeToggle.astro";
---

<header
  aria-label="Header"
  class="sticky top-0 z-50 bg-neutral-100 dark:bg-neutral-900"
  transition:persist="header"
>
  <div
    class="mx-auto max-w-screen-xl border-b border-neutral-200 px-4 sm:px-6 lg:px-8 dark:border-neutral-800"
  >
    <div class="flex flex-wrap items-center justify-between gap-x-4 py-4">
      <div class="flex-1 md:flex md:items-center md:gap-12">
        <a class="block" href="/">
          <p class="sr-only">pawcode Development Blog</p>
          <Image
            src={pawcodeDark}
            alt="pawcode Development"
            height="32"
            width="140"
            loading="eager"
            class="dark:hidden"
          />
          <Image
            src={pawcodeLight}
            alt="pawcode Development"
            height="32"
            width="140"
            loading="eager"
            class="hidden dark:block"
          />
        </a>
      </div>

      <div class="flex h-7 gap-2 md:order-3 md:ml-4 md:h-6">
        <ThemeToggle />
      </div>

      <Navigation />
    </div>
  </div>
</header>
