---
import { Icon } from "astro-icon/components";
---

<button
  type="button"
  id="nav-button"
  title="Open navigation"
  aria-controls="navigation"
  class="inline-flex cursor-pointer items-center justify-center md:hidden print:hidden"
  aria-expanded="false"
>
  <span class="sr-only">Open navigation</span>
  <Icon name="heroicons:bars-3-bottom-right" size={28} />
</button>

<nav
  aria-label="Navigation"
  class="block overflow-y-clip transition-all duration-300 select-none motion-reduce:duration-0 max-md:max-h-0 max-md:w-full print:hidden"
  id="navigation"
>
  <ul
    class="grid grid-cols-3 items-center gap-1 max-md:justify-evenly max-md:text-center md:flex md:gap-6"
  >
    <li
      class="dark:hocus:text-blue-300 hocus:text-blue-950 max-md:hocus:bg-blue-200 md:hocus:text-neutral-600/75 max-md:dark:hocus:bg-blue-900 dark:md:hocus:text-neutral-300/75 block grow rounded-sm rounded-l-lg text-blue-800/80 transition motion-reduce:duration-0 max-md:bg-blue-100 max-md:py-1 contrast-more:max-md:hue-rotate-180 contrast-more:max-md:invert md:text-neutral-600 contrast-more:md:text-black dark:text-blue-200 max-md:dark:bg-blue-800 dark:md:text-neutral-300 contrast-more:md:dark:text-white"
    >
      <a class="block items-center md:inline-flex" href="/" title="Blog">
        <span class="inline-block pt-1 md:hidden">
          <Icon name="heroicons:document-text" size={20} />
        </span>

        <span class="block">Blog</span>
      </a>
    </li>

    <li
      class="dark:hocus:text-blue-300 hocus:text-blue-950 max-md:hocus:bg-blue-200 md:hocus:text-neutral-600/75 max-md:dark:hocus:bg-blue-900 dark:md:hocus:text-neutral-300/75 block grow rounded-sm text-blue-800/80 transition motion-reduce:duration-0 max-md:bg-blue-100 max-md:py-1 contrast-more:max-md:hue-rotate-180 contrast-more:max-md:invert md:text-neutral-600 contrast-more:md:text-black dark:text-blue-200 max-md:dark:bg-blue-800 dark:md:text-neutral-300 contrast-more:md:dark:text-white"
    >
      <a
        class="block items-center gap-2 md:inline-flex"
        href="https://pawcode.de?mtm_campaign=Blog&mtm_source=pawcode"
        title="Website"
      >
        <span class="inline-block pt-1 md:hidden">
          <Icon name="heroicons:home" size={20} />
        </span>

        <span class="block">Website</span>

        <span class="hidden md:block">
          <Icon name="heroicons:arrow-top-right-on-square" size={16} />
        </span>
      </a>
    </li>

    <li
      class="dark:hocus:text-blue-300 hocus:text-blue-950 max-md:hocus:bg-blue-200 md:hocus:text-neutral-600/75 max-md:dark:hocus:bg-blue-900 dark:md:hocus:text-neutral-300/75 block grow rounded-sm rounded-r-lg text-blue-800/80 transition motion-reduce:duration-0 max-md:bg-blue-100 max-md:py-1 contrast-more:max-md:hue-rotate-180 contrast-more:max-md:invert md:text-neutral-600 contrast-more:md:text-black dark:text-blue-200 max-md:dark:bg-blue-800 dark:md:text-neutral-300 contrast-more:md:dark:text-white"
    >
      <a
        href="https://github.com/pawcoding"
        rel="noreferrer"
        target="_blank"
        title="GitHub"
        class="block items-center gap-2 md:inline-flex"
      >
        <span class="inline-block pt-1 md:hidden">
          <Icon name="simple-icons:github" size={20} />
        </span>

        <span class="block">GitHub</span>

        <span class="hidden md:block">
          <Icon name="heroicons:arrow-top-right-on-square" size={16} />
        </span>
      </a>
    </li>
  </ul>
</nav>

<script is:inline>
  function openNav() {
    const navButton = document.getElementById("nav-button");
    navButton?.setAttribute("aria-expanded", "true");
    navButton?.setAttribute("title", "Close navigation");

    const navButtonText = navButton?.querySelector("span");
    if (navButtonText) {
      navButtonText.innerHTML = "Close navigation";
    }

    const navigation = document.getElementById("navigation");
    navigation?.classList.add("max-md:max-h-24", "max-md:pt-4");
    navigation?.classList.remove("max-md:max-h-0");
  }

  function closeNav() {
    const navButton = document.getElementById("nav-button");
    navButton?.setAttribute("aria-expanded", "false");
    navButton?.setAttribute("title", "Open navigation");

    const navButtonText = navButton?.querySelector("span");
    if (navButtonText) {
      navButtonText.innerHTML = "Open navigation";
    }

    const navigation = document.getElementById("navigation");
    navigation?.classList.add("max-md:max-h-0");
    navigation?.classList.remove("max-md:max-h-24", "max-md:pt-4");
  }

  document.getElementById("nav-button")?.addEventListener("click", function () {
    if (this.getAttribute("aria-expanded") === "true") {
      closeNav();
    } else {
      openNav();
    }
  });

  document.querySelectorAll("nav li").forEach((li) => {
    li.addEventListener("click", () => {
      closeNav();
    });
  });
</script>
