---
import { Icon } from "astro-icon/components";

interface Props {
  label: string;
  size?: "small" | "medium";
}

let { label, size } = Astro.props;
const text = label.replace(/\s/g, "-").toLowerCase();

const classes = [
  "px-2 py-0.5 gap-1 overflow-clip font-mono rounded-full select-none inline-flex items-center justify-center ",
  "border-black/10 dark:border-black/40 text-neutral-800 dark:text-neutral-300 bg-black/10 dark:bg-white/8",
];
if (size === "medium") {
  classes.push("border");
}
---

<span class={classes.join(" ")} title={text}>
  <Icon
    aria-hidden="true"
    name="heroicons:hashtag"
    size={size === "medium" ? "1rem" : "0.75rem"}
  />

  <p
    class=`whitespace-nowrap text-sm ${size === "medium" ? "font-bold" : "font-semibold"}`
  >
    {text}
  </p>
</span>
