---
import { Icon } from "astro-icon/components";

interface Props {
  label: string;
  size?: "small" | "medium";
}

let { label, size } = Astro.props;
const normalizedText = label
  .replace(/\s/g, "-")
  .replace(/\//g, "-")
  .toLowerCase();

const classes = [
  "px-2 py-0.5 gap-1 overflow-clip font-mono rounded-full select-none inline-flex items-center justify-center",
  "border-black/10 dark:border-black/40 text-neutral-800 dark:text-neutral-300 bg-black/10 dark:bg-white/8",
  "hover:bg-black/15 dark:hover:bg-white/12 not-motion-reduce:transition-colors cursor-pointer",
  "contrast-more:border contrast-more:border-black contrast-more:text-black contrast-more:bg-white",
  "contrast-more:dark:border-white contrast-more:dark:text-white contrast-more:dark:bg-black",
  "print:text-gray-800",
];
if (size === "medium") {
  classes.push("border");
}
---

<a
  href={`/tags/${normalizedText}`}
  class={classes.join(" ")}
  title={`View all posts tagged with #${label}`}
>
  <Icon
    aria-hidden="true"
    name="heroicons:hashtag"
    size={size === "medium" ? "1rem" : "0.75rem"}
  />

  <p
    class=`whitespace-nowrap text-sm ${size === "medium" ? "font-bold" : "font-semibold"}`
  >
    {label}
  </p>
</a>
