---
import { Icon } from "astro-icon/components";
---

<button
  type="button"
  id="themeToggle"
  title="Toggle theme"
  class="md:hocus:text-neutral-600/75 dark:hocus:text-neutral-300/75 inline-flex cursor-pointer items-center justify-center md:text-neutral-600 dark:text-neutral-300"
>
  <span class="sr-only">Toggle theme</span>

  <Icon name="heroicons:sun" class="h-7 w-7 md:h-6 md:w-6 dark:hidden" />
  <Icon
    name="heroicons:moon"
    class="hidden h-7 w-7 md:h-6 md:w-6 dark:inline"
  />
</button>

<button
  type="button"
  id="fontToggle"
  title="Toggle font"
  class="md:hocus:text-neutral-600/75 dark:hocus:text-neutral-300/75 inline-flex cursor-pointer items-center justify-center md:text-neutral-600 dark:text-neutral-300"
>
  <span class="sr-only">Toggle font</span>

  <Icon name="heroicons:bold" class="h-7 w-7 md:h-6 md:w-6" />
</button>

<script is:inline>
  function getTheme() {
    const localStorageTheme = localStorage.getItem("theme");
    if (
      typeof localStorageTheme !== "undefined" &&
      localStorageTheme !== null
    ) {
      return localStorageTheme;
    }

    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return "dark";
    }
    return "light";
  }

  function getFont() {
    const localStorageFont = localStorage.getItem("font");
    if (typeof localStorageFont !== "undefined" && localStorageFont !== null) {
      return localStorageFont;
    }
    return "sans";
  }

  function setTheme(document, toggle = false) {
    let theme = getTheme();
    if (toggle) {
      theme = theme === "light" ? "dark" : "light";
    }

    document.documentElement.dataset.theme = theme;
    window.localStorage.setItem("theme", theme);
  }

  function setFont(document, toggle = false) {
    let font = getFont();
    if (toggle) {
      font = font === "sans" ? "serif" : "sans";
    }

    document.documentElement.dataset.font = font;
    window.localStorage.setItem("font", font);
  }

  setTheme(document);
  setFont(document);

  document.addEventListener("astro:before-swap", (event) => {
    setTheme(event.newDocument);
    setFont(event.newDocument);
  });

  document.getElementById("themeToggle")?.addEventListener("click", () => {
    setTheme(document, true);
  });
  document.getElementById("fontToggle")?.addEventListener("click", () => {
    setFont(document, true);
  });
</script>
