---
import { SEO } from "astro-seo";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

const { title, description, image, post, pubTime, modTime, author, tags } =
  Astro.props as {
    title: string;
    description?: string;
    image?: string;
    post: boolean;
    pubTime: string;
    modTime: string;
    author: string;
    tags: string[];
  };

const defaultImage = "/images/introduction-to-htmx.webp";
---

<html lang="en">
  <head>
    <base href="/" />

    <SEO
      title={title}
      titleTemplate="%s | pawcode Development"
      titleDefault="Blog"
      description={description}
      canonical={import.meta.env.SITE}
      charset="utf-8"
      openGraph={{
        basic: {
          title: title,
          type: post ? "article" : "website",
          image: image ?? defaultImage,
        },
        optional: {
          siteName: "pawcode Development Blog",
        },
        article: {
          publishedTime: pubTime,
          modifiedTime: modTime,
          authors: [author],
          tags: tags,
        },
      }}
      twitter={{
        card: "summary_large_image",
        site: "@pawcode",
        creator: "@pawcode",
        title: title,
        image: image,
        description: description,
      }}
      extend={{
        link: [
          {
            rel: "sitemap",
            href: "/sitemap-index.xml",
          },
        ],
        meta: [
          {
            name: "viewport",
            content: "width=device-width, initial-scale=1.0",
          },
          {
            name: "generator",
            content: Astro.generator,
          },
          {
            name: "msapplication-TileColor",
            content: "#262626",
          },
          {
            name: "msapplication-config",
            content: "/brand/browserconfig.xml",
          },
          {
            name: "theme-color",
            content: "#262626",
          },
        ],
      }}
    />

    <!-- Favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/brand/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/brand/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/brand/favicon-16x16.png"
    />
    <link rel="manifest" href="/brand/site.webmanifest" />
    <link rel="mask-icon" href="/brand/safari-pinned-tab.svg" color="#4472c4" />
    <link rel="shortcut icon" href="/brand/favicon.ico" />
    <link rel="icon" type="image/x-icon" href="/brand/favicon.ico" />
  </head>

  <body class="scroll-smooth dark:bg-gray-900 dark:text-gray-200">
    <div class="flex min-h-screen flex-col justify-between">
      <Header />

      <main>
        <slot />
      </main>

      <Footer />
    </div>
  </body>
</html>
